#navigation{
  background-image: url("./pics/cover.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #FF1493;
}

#second{
	background-color: #FF69B4;
}

h1{
  font-size: 30px;
}

h2{
	color: #FF00FF;
}

h5{
  color: red;
}

#ig{
  color: #ff147e !important;
}

#contactme{
  background-color: black;
  display: center !important;
  justify-content: center;
  height: 300px;
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #FF1493;
}

#follow{
  display: center !important;
  background-position: center !important;
}